.input-field-container {
    display: flex;
    flex-direction: column;
    margin: 0 5px;
    color: var(--secondary-font-color);

    span {
        font-size: 12px;
        text-transform: uppercase;
    }
}

.input-field {
    border: 1px solid var(--secondary-font-color);
    border-radius: 5px;
    box-shadow: 1px 1px 1px var(--secondary-font-color);
    padding: 8px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;

    input {
        background: none;
        border: none;
        &:focus {
            outline: none;
        }
    }
}